/*
//
//
//overlay
//
//
*/

.overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.8);
  overflow-x: hidden;
  transition: 0.4s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #00D9C0;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #C1B4AE;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*
//
//
//MISC
//
//
*/

.navBar {
  position: sticky;
  top: 0;
  min-width: 50%;
  z-index: 1;
}


.navbutton {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 45px;
  cursor: pointer;
  color: #00D9C0;
  text-align: center;
  padding: 5px 15px 5px 15px;
  z-index: 10;
  background-color: #28536B;
  border: 5px solid #00D9C0;
  margin: 25px;
}

.navbutton:hover {
  color: #FFF8F0;
}


.page {
  background-color: #0D0221;
}

.bury {}

.txtField {
  width: 90%;
  font-size: 16;
  position: relative;
  background-color: #28536B;
  margin: 0 auto;
}

.txtField p {
  padding: 20px;
  color: #FFFFFF;
  font-family: sans-serif;
}



/*
//
//
//BLURBS
//
//
*/

.smallBlurbContainer {
  text-align: center;
}



.blurbLarge h1 {
  display: none;
  font-family: sans-serif;
  color: #00D9C0;
}

.blurbLarge {
  display: block;
  width: 500px;
  margin: 0px auto;
  margin-top: 5px;
  background-color: #984447;
  border: 5px solid #00D9C0;
  text-align: center;
  font-size: 20;
  box-sizing: border-box;
}

.blurbSmall {
  width: 500px;
  height: 500px;
  margin: 20px;
  display: inline-block;
  background-color: #984447;
  border: 5px solid #00D9C0;
  text-align: center;
  position: relative;

  box-sizing: border-box;
}

.blurbSmall a {
  text-decoration: none;
  color: #00D9C0;
}

.blurbSmall h1 {
  height: 45px;
  font-size: 20px;
  font-family: sans-serif;
  width: 79%;
  text-align: left;
  margin: 10px;
}

.blurbTxt {
  width: 90%;
  height: 75px;
  font-size: 16;
  position: absolute;
  bottom: 40px;
  left: calc(5%);
  background-color: #28536B;
  text-align: center;
  margin: 0 auto;
}

.blurbTxt p {
  padding: 10px;
  height: 100px;
  color: #FFFFFF;
  font-family: sans-serif;
}

.blurbCategory {
  font-size: 15px;
  text-align: left;
  position: absolute;
  left: 5px;
  bottom: 0px;
}

/*
//
//
//BANNER
//
//
*/

.bannerImgContainer
{
  display: block;
  height: 200px;
  width: 500px;
  margin: auto;

}

.bannerImg
{
  display: block;
  height: 100%;
  width: 100%;

}

/*
//
//
//Article
//
//
*/

.article {
  width: 500px;
  position: relative;
  margin:  20px auto;
  background-color: #984447;
  border: 5px solid #00D9C0;
  text-align: center;
  box-sizing: border-box;
}

.articleDigBuryImg
{
  display: block;
  position: absolute;
  right: 0px;
  width: 10%;
  z-index: 5;
}

.articleTitle
{
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
  color: #00D9C0;
}

.articleSub
{
  margin: 5px auto;
  font-size: 16px;
  font-family: sans-serif;
}

.articleAuthor
{

}

.articleBody
{
  width: 90%;
  margin: 20px auto;
  background-color: #28536B;
  border: 5px solid #28536B;
  color: #FFFFFF;
  font-family: sans-serif;
  text-align: left;
  line-height: 1.5em;
}

.articleParagraph
{
  background-color: #28536B;
  margin: 30px auto;
}


.article p {
  background-color: black;
  color: #FFFFFF;
}

/*
//
//
//Dig bury
//
//
*/

.dig {
  display: block;
  position: absolute;
  right: 0px;
  width: 20%;
  z-index: 5;
}

.bury {
  display: block;
  position: absolute;
  width: 20%;
  right: 0px;
  z-index: 5;
}


.blurbImg {
  margin-top: 40px;
  height: 275px;
  left: calc(width);
  z-index: 2;

}



.cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 9999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}


/* Larger devices*/
@media only screen and (min-width: 875px) {
  .blurbSmall {
    width: 375px;
    height: 375px;
    margin: 20px;
    display: inline-block;
  }

  .blurbImg
  {
    margin-top: 0px;
    height: 190px;
  }

  .article
  {
    width: 800px;
  }

    .blurbLarge {
      display: block;
      width:800px;
      margin: 0px auto;
      margin-top: 5px;
      background-color: #984447;
      border: 5px solid #00D9C0;
      text-align: center;
      font-size: 20;
      box-sizing: border-box;
    }

  .bannerImg {
    display: block;
    height: 100%;
    width: 100%;
  }

  .bannerImgContainer {
    display: block;
    width: 800px;
    height: 300px;
    margin: auto;
  }

}

/*Full 4k monitors*/
@media only screen and (min-width: 1250px) {
  .blurbSmall {
    width: 425px;
    height: 425px;
    margin: 20px;
    display: inline-block;
  }

  .blurbImg
  {
    margin-top: 10px;
    height: 225px;
  }

    .blurbLarge {
      display: block;
      width:1000px;
      margin: 0px auto;
      margin-top: 5px;
      background-color: #984447;
      border: 5px solid #00D9C0;
      text-align: center;
      font-size: 20;
      box-sizing: border-box;
    }

  .bannerImg {
    display: block;
    height: 100%;
    width: 100%;
  }

  .bannerImgContainer {
    display: block;
    width: 1000px;
    height: 375px;
    margin: auto;
  }

}
